<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.INTERNET" />
  <!-- libstable_diffusion_core.so is bundled in jniLibs/ but we exec it as a subprocess. -->
  <uses-permission android:name="android.permission.EXECUTE_PRIVATE_BINARY" />
</manifest>
